.markdown-body {
  .container-block {
    margin-bottom: 1.8em;
    border-left-width: 6px;
    border-left-style: solid;

    p {
      margin-bottom: 0;
    }
  }

  .task-list-item {
    list-style-type: none;
  }

  .task-list-item-checkbox {
    float: left;
    margin: .40em 0 .2em -1.3em !important;
    vertical-align: middle;
    cursor: default !important;
  }
}
