body,
.btn,
.btn-primary,
.bg-gray,
.Box {
  transition: background 320ms, border 320ms;
}

:root {
  --text-color: #b9b9b9;
  --text-gray-light-color: #929292;
  --bg-color: #121212;
  --bg-gray-color: #272727;
  --bg-dark: #1f1f1f;
  --blue-color: #8bb9ea;
  --green-color: #106929;
  --border-color: #4a4a4a;
  --active-border-color: ##9fc3e7;
  --bright-color: white;
}

body.dark-mode {
  background-color: var(--bg-color);
  color: var(--text-color);

  a {
    color: var(--blue-color);
  }

  .btn {
    color: var(--text-color);
    background-color: var(--bg-color);
    border-color: var(--border-color);
    box-shadow: none;

    .octicon {
      color: var(--text-color);
    }

    &:focus, &.focus {
      border-color: var(--active-border-color);
    }
  }

  .btn-primary {
    background-color: var(--green-color);
  }

  .text-gray-light {
    color: var(--text-gray-light-color);
  }

  .bg-gray {
    background-color: var(--bg-gray-color) !important;
  }

  .markdown-body {
    h1, h2 {
      border-color: var(--border-color);
    }

    blockquote {
      color: var(--text-gray-light-color);
    }

    img {
      filter: brightness(.8) contrast(1.2);
      background-color: transparent;
    }

    code, tt {
      background-color: var(--bg-dark);
    }

    .highlight pre, pre {
      background-color: var(--bg-dark);
    }

    /*

    Atom One Dark by Daniel Gamage
    Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

    base:    #282c34
    mono-1:  #abb2bf
    mono-2:  #818896
    mono-3:  #5c6370
    hue-1:   #56b6c2
    hue-2:   #61aeee
    hue-3:   #c678dd
    hue-4:   #98c379
    hue-5:   #e06c75
    hue-5-2: #be5046
    hue-6:   #d19a66
    hue-6-2: #e6c07b

    */

    .hljs {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      color: #abb2bf;
      background: #282c34;
    }

    .hljs-comment,
    .hljs-quote {
      color: #5c6370;
      font-style: italic;
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-formula {
      color: #c678dd;
    }

    .hljs-section,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-deletion,
    .hljs-subst {
      color: #e06c75;
    }

    .hljs-literal {
      color: #56b6c2;
    }

    .hljs-string,
    .hljs-regexp,
    .hljs-addition,
    .hljs-attribute,
    .hljs-meta-string {
      color: #98c379;
    }

    .hljs-built_in,
    .hljs-class .hljs-title {
      color: #e6c07b;
    }

    .hljs-attr,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-type,
    .hljs-selector-class,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-number {
      color: #d19a66;
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-selector-id,
    .hljs-title {
      color: #61aeee;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: bold;
    }

    .hljs-link {
      text-decoration: underline;
    }

  }

  .Box {
    background-color: var(--bg-gray-color);
    border-color: var(--border-color);
  }

  .Box-row--hover-gray:hover {
    background-color: var(--border-color);
  }

  .Box-row {
    border-color: var(--border-color);
  }

  .UnderlineNav-item {
    color: var(--text-color);
  }

  .UnderlineNav {
    box-shadow: inset 0 -1px 0 #3c3d3f;
  }

  .UnderlineNav-item.selected .UnderlineNav-octicon, .UnderlineNav-item[role=tab][aria-selected=true] .UnderlineNav-octicon, .UnderlineNav-item[aria-current]:not([aria-current=false]) .UnderlineNav-octicon {
    color: var(--bright-color);
  }

  .text-gray-dark {
    color: var(--text-gray-light-color) !important;
  }

  .text-gray {
    color: var(--text-color) !important;
  }

  .box-shadow-medium {
    box-shadow: none !important;
    border: solid 1px var(--border-color) !important;
  }
}
